#pins.transitions-enabled
	- if user_signed_in?
		- @pins.each do |pin|
			.box.panel.panel-default
				= link_to (image_tag pin.image.url), pin
				%h2= link_to pin.title, pin
	- else 
		%center.jumbotron
			.h1
				Welcome to Piner! 
			= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-default"