= form_for([@pin, @pin.comments.build]) do |f|
	.row
		.col-lg-6
			.input-group
				= f.text_field :content, input_html: {class: 'form-control'}
				.input-group-btn
					= f.button :submit, class: "btn btn-secondary" do
						%span.glyphicon.glyphicon-plus
