/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body {
	background: #ffecaf;
}

nav {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	.navbar-brand {
		a {
			color: #ad1d22;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
			color: #4f4949;
	  	}
	  }
	}
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('index_background.jpg');
	background-size: cover;
	height: 560px;
}

.jumbotron h1{
	color: #fff;
	text-align: center;
	font-weight: bolds;
	margin-bottom: 30px;
	letter-spacing: -1px;
}

.btn-xlarge {
	font-size: 1.8em;
	background-color: black;
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 0;
		}
	}
}

#pin_show {
	.panel-heading {
		padding: 0;
	}
	.panel-body {
		padding: 30px;
		h1 {
			margin: 0 0 8px 0;
		}
		.description {
			color: #42413e;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 30px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
	.pin_image {
		img {
			max-width: 100%;
			width: 100%;
			margin: 0 auto;
		}
	}
}

.like-button a:hover, a:focus {
  text-decoration: none;
  color: red;
}

.comment-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}


textarea {
	min-height: 260px;
}